header {
  height: 112px;
  line-height: 112px;
  position: fixed;
  z-index: 2;
  width: 100%;
}
header a {
  color: #fff;
}
header a:hover {
  color: #d35400;
}
.logo {
  font-size: 36px;
  font-weight: bold;
}
header ul {
  width: 200px;
}

header ul li {
  height: 4em;
  line-height: 4em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
}

.btn:hover {
  background-color: #d35400;
  border-color: #d35400;
}

/* slider */
.slider {
  height: 700px;
  width: 100%;
  background: url(../images/slider.jpg);
  background-size: 100% 100%;
}
.slider-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}
.slider-content {
  position: absolute;
  width: 100%;
  top: 30%;
}
.slider h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.cta-div {
  margin-top: 50px;
}
.cta {
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  padding: 12px 36px;
  font-weight: bold;
  /* border: 1px solid #fff; */
  position: relative;
}
a.cta:hover {
  background: #d35400;
}
a.cta:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  opacity: 1;
  transition: all 0.5s ease;
}
a.cta:hover:after {
  transform: scale(1.3);
  background-color: #d35400;
  opacity: 0;
  border-color: #d35400;
}

.slider .text,
.slider .typed-cursor {
  display: inline;
  font-size: 56px;
}

/* services */
.icon {
  font-size: 24px;
  transition: all 0.5s ease;
}
.services-inner {
  /* border: 1px solid #333; */
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.services-title {
  margin-bottom: 16px;
  margin-top: 16px;
}
.services-inner:hover {
  background-color: #333;
  color: #fff;
}

.services-inner:hover h3 {
  color: #3498db;
}

.services-inner:hover .icon {
  color: #d35400;
  transform: rotateY(180deg) scale(1.5);
}

/* project 1 */
.project-item {
  width: 100%;
  height: 300px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
  position: relative;
  overflow: hidden;
}
.project-item img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.project-item:hover img {
  transform: scale(1.2, 1.2) rotate(10deg);
}
.project-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transform: scale(0);
  transition: all 0.5s ease;
}
.project-title {
  margin-top: 20%;
  margin-bottom: 20px;
}
.project-desc{
  padding: 0 20px;
}
.project-item:hover .project-inner{
  transform: scale(1);
}

.project-item:before
{
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,0.6);
	transition:all 0.5s ease-in;
	top:-40%;
	right: -110%;
	width: 170%;
	height: 70%;
	z-index: 3;
	transform:rotate(40deg);
}

.project-item:hover:before
{
	top:120%;
	right: 120%;
}
/* contact */

.contact-info p
{
	margin-top: 15px;
	font-weight: bold;
}

.contact-info .icon
{
	margin-right: 10px;
}

input
{
	display: block;
	height: 40px;
	line-height: 40px;
}

textarea
{
	display: block;
}

input,textarea
{
	border:none;
	border-bottom: 1px solid #333;
	width: 70%;
	/* //margin:0 auto; */
	margin-bottom: 40px;
	padding-left: 20px;
	margin-left: 100px;
}

input:focus,textarea:focus
{
	border-color: #d35400;
	border-width: 2px;
}

.submit
{
	background-color: transparent;
	width: 30%;
	padding: 0;
	border: 1px solid #333;
	transition:all 0.5s ease;
	font-weight: bold;
}

.submit:hover
{
	background-color: #d35400;
	border-color: #d35400;
	color: #fff;
}

/* footer */

footer
{
	height: 50px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
}

