* {
    margin: 0;
    padding: 0;
    /* it will remove by default margin-padding created by bootstrap or browser */
}
body {
  font-family: "Roboto", sans-serif;
  /*height: 3000px;*/
  /* if roboto will not loaded it will use sans-serif's fonts */
}
h1,p{
     margin: 0;
     /* boostrap provides some default margin we are removing that */
}
a,a:hover,a:active,a:focus{
    text-decoration: none;
    outline: 0;  
    /* sometime there is outline on links */
}

a,a:active{
    color: #d35400;
}
a:hover{
    color: #ff9955;
}
ul{
    list-style: none;
}
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 900;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.white{
    color: #fff;
}
.primary
{
    color: #d35400;
}

.primary-bg{
    background-color: #d35400;
}
.blue{
    color: #3498db;
}
.blue-bg{
    background-color: #3498db;
}
.green{
    color: #27ae60;
}
.green-bg{
    background-color: #27ae60;
}
.section-header{
    padding: 60px 0;
    background-color: #27ae60;
    color: #fff;
}
/* these will define color plaaning or say theme of project */
.cta {
    padding: 10px 50px;
    position: relative;
    transition: 0.3s ease;
}
.cta:hover{
    color: #fff;
    background-color: #d35400;
}
.cta:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #d35400;
    opacity: 1;
    transition: transform 0.5s ease,opacity 0.7s ease;

}
.cta:hover:after{
    transform: scale(1.2);
    opacity: 0;
}
.btn, .btn:focus{
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    color: #fff;
}
.btn:hover{
    background-color: #d35400;
    border-color: #d35400;
}

.transparent-bg
{
    background-color: rgba(0,0,0,0.6);
}

.space
{
    padding: 60px 0;
}