header{
	height: 112px;
	/*background: #333;*/
	line-height: 112px;
	color: #fff;
	position: fixed;
	z-index: 2;
	width: 100%;
}
header .logo {
	font-size: 36px;
}
header #menu{
	width: 200px;
}
header ul {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
header ul li {
	height: 3em;
	line-height: 3em;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-top: 1px solid rgba(0,0,0,0.2);
}
header a {
	color: #fff;
}
.login a , .register a
{
	padding: 0;
	padding: 5px 20px;
	border-radius: 3px;
}
nav ul{
	background-color: rgba(0,0,0,0.5);
}

/*slider styles*/
.slider
{
	width: 100%;
	height: 700px;
	position: relative;
	background:url('http://localhost/php/PhotoGallery/img/slider-img.jpeg');
	background-size: 100% 100%;
}
canvas
{
	display: block;
}
#particles{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.slider .slider-content {
	position: absolute;
	top: 20%;
	width: 100%
}
.slider-content h1{
	top: 25%;
}
.slider-content .text-rotator
{
	font-size: 48px;
}
.slider-content .call-to-action{
	margin-top: 40px;
}
.slider-content a.cta {
	font-size: 24px;
}

/*form styling rules*/

form {
	width: 50%;
	margin: 0 auto;
	margin-top: 40px;
}
form input , form textarea{
	display: block;
	margin-bottom: 40px;
	width: 100%;
	padding-left: 20px;
}
form input{
	height: 40px;
}
form textarea{
	padding-top: 10px;
}
input[type=submit]{
	width: 30%;
	color: white;
	text-align: center;
	padding: 0;
}