/* effect 1 flip effect y axis */
.element {
  float: left;
  width: 400px;
  height: 400px;
  background-color: #333;
  color: #fff;
  position: relative;
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}
.element .front img {
  width: 100%;
  height: 100%;
}
.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  background-color: #333;
  color: #fff;
  text-align: center;
}
.element:hover .front {
  transform: rotateY(180deg);
}
.element:hover .back {
  transform: rotate(0deg);
}
/* effect 1 flip effect y axis */

/* effect 2 flip effect x axis */
.element2 {
  float: left;
  width: 400px;
  height: 400px;
  background-color: #333;
  color: #fff;
  position: relative;
}
.element2 .front2 img {
  width: 100%;
  height: 100%;
}
.front2,
.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}
.front2 {
  transform: rotateX(0deg);
}
.back2 {
  transform: rotateX(180deg);
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
}
.element2:hover .front2 {
  transform: rotateX(180deg);
}
.element2:hover .back2 {
  transform: rotate(0deg);
}
/* effect 2 flip effect x axis */

/* effect 3 mutipletransitions and border radius effect */
.element3 {
  width: 400px;
  height: 400px;
  position: relative;
  float: left;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s ease;
  line-height: 400px;
}
.front3,
.back3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}
.front3 img {
  width: 100%;
  height: 100%;
}
.back3 {
  background-color: #0d7385;
  color: #fff;
  text-align: center;
  top: -100%;
}

.element3:hover .back3 {
  top: 0;
}
.element3:hover {
  transform: scale(0.7);
  border-radius: 50%;
  border: 20px solid orange;
}
/* .element3:hover .back3-content
   {
       transform: scale(1.5);
       padding-top: 10%;

 /* effect 3 mutipletransitions and border radius effect */

/* effect 4 from left */
.element4 {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
  text-align: center;
  color: white;
}
.element4 .front4 img {
  width: 100%;
  height: 100%;
}
.front4 {
  z-index: 2;
  transform-origin: left;
}
.front4,
.back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.back4 {
  z-index: 1;
  background-color: #27ae60;
  transition: all 0.5s ease;
  color: #fff;
}
.element4 {
  overflow: hidden;
  transition: all 0.5s ease;
}
.element4:hover .front4 {
  transform: rotateY(90deg);
}

/* effect 4 from left */

/* effect 5 from right */
.element5 {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
  text-align: center;
  color: white;
}
.element5 .front5 img {
  width: 100%;
  height: 100%;
}
.front5 {
  z-index: 2;
  transform-origin: bottom;
}
.front5,
.back5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.back5 {
  z-index: 1;
  background-color: #9b59b6;
  transition: all 0.5s ease;
  color: #fff;
}
.element5 {
  overflow: hidden;
  transition: all 0.5s ease;
}
.element5:hover .front5 {
  transform: rotateX(90deg);
}

/* effect 5 from right */

/* 6 effect from top without z-index */
.element6 {
  float: left;
  position: relative;
  height: 400px;
  width: 400px;
}
.front6 img {
  width: 100%;
  height: 100%;
}
.front6,
.back6 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.back6 {
  background-color: #fbc531;
  text-align: center;
  transform-origin: top;
  transform: rotateX(90deg);
}
.element6:hover .back6 {
  transform: rotateX(0);
}

/*  effect 6 from top without z-index */

/* effect 7 moving content rotating image */
.element7 {
  width: 400px;
  height: 400px;
  color: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;
  float: left;
}
.front7 img {
  width: 100%;
  height: 100%;
}
.front7,
.back7 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.back7 {
  background-color: rgba(44, 62, 80, 0.8);
  transform: scale(0);
}
.element7:hover .back7 {
  transform: scale(1);
}
.element7:hover .front7 {
  transform: rotate(-10deg);
}
.front7:before {
  position: absolute;
  content: "";
  width: 220%;
  height: 70%;
  background-color: rgba(44, 62, 80, 0.8);
  top: -40%;
  right: -140%;
  transform: rotate(40deg);
  transition: all 0.5s ease;
  z-index: 2;
}
.element7:hover .front7:before {
  top: 120%;
  right: 120%;
}
/* effect 7 moving content rotating image */
